@import url('https://fonts.googleapis.com/css2?family=Rubik&display=swap');



body{
    font-family: 'Rubik', sans-serif;
    color: black;
    margin: 0;
     /* background-image: url(gottt.png);*/
    
}
span {
    color: #58a6f3;
}

nav{
    margin-top: 0.5em;
    font-size: 1.7em;
    font-weight: 900;
    text-align: center;
    background-color: white;
    padding-bottom: 0.4em;
}
nav img{
    padding-left: 0.05em;
    width: 60px;
}
#box{
    max-width: 300px;
    border: 1px solid black;
    height: 400px;
}
lottie-player{
    margin-left: auto;
    margin-right: auto;

}
textarea{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30vh;
    max-width: 80%;
    width: 40em;
    font-family: 'Open Sans', sans-serif;
    padding-top: 0.8em;
    padding-left: 1em;
}
textarea:hover, #output:hover{
    border: solid 2px #58a6f3;

}
button{
    background-color: #58a6f3;
    font-family: 'Open Sans', sans-serif;
    font-weight: bolder;
    padding: 0.5em;
    width: 10em;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3em;
    border-radius: 1.3em;
    border: solid 1px #58a6f3;
    color:white;

}
button:hover{
    text-decoration: underline;
}
h3{
    text-align: center;
    font-size: 1.2em;
    margin-top: 1em;
}
#box{
    border: 1px solid black;
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 80%;
    width: 35em;
    height: 8vh;
    margin-bottom: 2em;
    padding: 1rem;
    background-color: white;

}

